.header{
    background-color: grey;
    overflow: hidden;
}

.header a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 18px;
    text-align: center;
    color: honeydew;
    float: left;
}

.header a:hover{
    color:grey;
    background-color: honeydew;
    border: black;
    border-width: 1px;
}


form{
    padding: 20px;
    border: black;
    border-width: 3px;
}

form h1{
    text-align: center;
}
body{
    margin: 0;
}